
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flash {
    width: auto;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 2px;
    &__error {
        background: #ef9a9a;
        border: 1px solid #E57373;
        color: #b71c1c;
    }
    &__success {
        background: #a5d6a7;
        border: 1px solid #81c784;
        color: #1b5e20;
    }
}
